*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# 本地环境属性配置
local.properties
# 当前目录下的.idea
/.idea
# 忽略任何目录下名为 build 的文件夹
build/
